<h1><%= @user.name %></h1>

<p>
  <%= "Balance: #{@user.balance}" %>
</p>

<div class="container p-2">
  <%= link_to "All Users", users_path,
      class: "btn btn-default bg-secondary-subtle" %>
  <% if admin_signed_in? %>
    <%= link_to "Edit User", edit_user_path(@user),
        { class: "btn btn-default bg-secondary-subtle" } %>
  <% end %>
</div>

<h2>Ticket Entries</h2>
<% @user.bids.each do |bid| %>
  <hr>
  <%= link_to(bid.item.description, item_path(bid.item),
              { class: "btn btn-default btn-lg bg-info-subtle" }) %>
  Tickets: <%= bid.amount %>
<% end %>
