<h1><%= @user.name %></h1>

<p>
  <%= "Balance: #{@user.balance}" %>
</p>

<ul>
  <li><%= link_to "Edit User", edit_user_path(@user) %></li>
  <li><%= link_to "Destroy", user_path(@user), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
  <li><%= link_to "All Users", users_path %></li>
</ul>
