<h1><%= @user.name %></h1>

<p>
  Balance: <%= @user.balance %>
  <% if admin_signed_in? %>
    <br/>Code: <%= @user.code %>
  <% end %>
</p>

<div class="container p-2">
  <%= link_to "All Participants", users_path,
      class: "btn btn-default bg-secondary-subtle" %>
  <% if admin_signed_in? %>
    <%= link_to "Edit Participant", edit_user_path(@user),
        { class: "btn btn-default bg-danger-subtle" } %>
  <% end %>
</div>

<h2>Ticket Entries</h2>
<% @user.bids.each do |bid| %>
  <hr>
  <%= link_to(bid.item.title, item_path(bid.item),
              { class: "btn btn-default btn-lg bg-info-subtle" }) %>
  Tickets: <%= bid.amount %>
  <% if bid.item.cost %>
    (<%= bid.amount / bid.item.cost %> count)
  <% end %>
<% end %>
