<!-- Button to toggle visibility of the filter form -->
<% if @selected_tag_ids == [] %>
  <button id="toggle-filter-btn" class="mb-2 btn btn-default bg-info-subtle">
    Filter by Tag
  </button>
<% end %>

<div id="filter-form" style="display: <%= @selected_tag_ids.any? ? 'block' : 'none' %>;">
  <%= form_with url: items_path, method: :get, local: true, data: { turbo: false } do |form| %>
    <div class="row">
      <% Tag.groups.each do |group| %>
        <div class="col-md-4 mb-3">
          <div class="group-section">
            <strong><%= group if group %></strong>
            <%= form.collection_check_boxes :tag_ids, @tags.where(group: group), :id, :name do |cb| %>
              <div>
                <%= cb.check_box checked: @selected_tag_ids.include?(cb.value.to_s) %>
                <%= cb.label %>
		<%= " (#{cb.object.items.count})" %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <%= form.submit "Filter", class: "mt-2 btn btn-default bg-info-subtle" %>
  <% end %>
</div>

<script>
window.listenerAdded = window.listenerAdded || false;

function handleTurboLoad(event) {
  var filterForm = document.getElementById("filter-form");
  var toggleButton = document.getElementById("toggle-filter-btn");

  if (filterForm && toggleButton) {
    function updateButtonVisibility() {
      if (filterForm.style.display === 'block') {
        toggleButton.style.display = 'none'; // Hide the toggle button
      } else {
        toggleButton.style.display = 'inline-block'; // Show the toggle button
      }
    }

    toggleButton.addEventListener("click", function() {
      if (filterForm.style.display === 'none' || filterForm.style.display === '') {
        filterForm.style.display = 'block';
      } else {
        filterForm.style.display = 'none';
      }
      updateButtonVisibility();
    });

    updateButtonVisibility();
  }
};

if (!window.listenerAdded) {
  document.addEventListener("turbo:load", handleTurboLoad);
  window.listenerAdded = true; // Set the flag to true to avoid re-adding the listener
}
</script>
