<%= form_with model: item do |form| %>
  <div class="mt-3">
    <%= form.label :title %><br>
    <%= form.text_field :title, size: 60 %>
    <% item.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="mt-3">
    <%= form.label :description %><br>
    <%= form.text_area :description, cols: 60, rows: 10 %>
    <% item.errors.full_messages_for(:description).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="mt-3">
    <%= form.label :host %><br>
    <%= form.text_field :host, size: 60 %>
    <% item.errors.full_messages_for(:host).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="mt-3">
    <%= form.label :format %><br>
    <%= form.text_field :format, size: 60 %>
    <% item.errors.full_messages_for(:format).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="mt-3">
    <%= form.label :event_date %><br>
    <%= form.date_select :event_date, include_blank: true, discard_year: true %>
    <% item.errors.full_messages_for(:event_date).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="mt-3">
    <%= form.label :image_url, "Image URL:" %>
    <%= form.text_field :image_url, size: 60 %>
  </div>

  <div class="mt-3">
    <%= form.label :cost %>
    <%= form.text_field :cost %> Tickets (entering cost makes this a 'Buy-In' item)
  </div>

  <div class="mt-3">
    <%= form.check_box :auction %>
    <%= form.label :auction, "Auction Item" %> (value ignored by 'Buy-In' items)
  </div>

  <div class="mt-3">
    <%= form.label :number %>
    <%= form.text_field :number %>
    <% item.errors.full_messages_for(:number).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="mt-3">
    <%= form.submit %>
  </div>
<% end %>
