<%= render "tabs", tab: @type %>

<h1><%= @type %> Items</h1>
<% if admin_signed_in? %>
  <p>
    <%= link_to "New Item", new_item_path,
        { class: "btn btn-default bg-danger-subtle" } %>
  </p>
<% end %>

<!-- Button to toggle visibility of the filter form -->
<% if @selected_tag_ids == [] %>
  <button id="toggle-filter-btn" class="mb-2 btn btn-default bg-info-subtle">
    Filter by Tag
  </button>
<% end %>

<div id="filter-form" style="display: <%= @selected_tag_ids.any? ? 'block' : 'none' %>;">
  <%= form_with url: items_path, method: :get, local: true, data: { turbo: false } do |form| %>
    <%= form.label :tag_ids, "Filter by Tags" %>
    <%= form.collection_check_boxes :tag_ids, @tags, :id, :name do |cb| %>
      <div>
        <%= cb.check_box checked: @selected_tag_ids.include?(cb.value.to_s) %>
        <%= cb.label %>
      </div>
    <% end %>
    <%= form.submit "Filter", class: "mt-2 btn btn-default bg-info-subtle" %>
  <% end %>
</div>

<% if @items&.present? %>
  <% @items.each do |item| %>
    <hr>
    <div class="panel panel-default p-1">
      <div class="row align-items-center">
        <div class="col-sm-3 col-lg-2 mt-2 mb-2">
          <% if item.image_url %>
            <%= link_to(image_tag(item.image_url, width: "100%"), item_path(item)) %>
          <% end %>
        </div>
        <div class="col">
          <span class="fs-4"><%= item.title %></span>
          <% if item.host.present? %>
            <br/>Host: <%= item.host %>
          <% end %>
          <% if item.timing %>
            <br/>Timing: <%= item.timing %>
          <% end %>
        </div>
        <div class="col-4">
          <% if admin_signed_in? || @type != 'Auction' %>
            <%= link_to(@type == 'Auction' ? "Bid" : "Enter Tickets", item_path(item),
                        { class: "mb-2 btn btn-default btn-lg bg-info-subtle" }) %><br/>
          <% end %>
          <% if item.number %>
            <%= item.number %> items<br/>
            <%= item.bids.count %> entrant(s)<br/>
          <% end %>
          <% if item.cost %>
            <%= item.cost %> tickets each<br/>
          <% end %>
          <%= item.total %> total tickets
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <p>No items found for these tags.</p>
<% end %>

<script>
window.listenerAdded = window.listenerAdded || false;

function handleTurboLoad(event) {
  var filterForm = document.getElementById("filter-form");
  var toggleButton = document.getElementById("toggle-filter-btn");

  if (filterForm && toggleButton) {
    function updateButtonVisibility() {
      if (filterForm.style.display === 'block') {
        toggleButton.style.display = 'none'; // Hide the toggle button
      } else {
        toggleButton.style.display = 'inline-block'; // Show the toggle button
      }
    }

    toggleButton.addEventListener("click", function() {
      if (filterForm.style.display === 'none' || filterForm.style.display === '') {
        filterForm.style.display = 'block';
      } else {
        filterForm.style.display = 'none';
      }
      updateButtonVisibility();
    });

    updateButtonVisibility();
  }
};

if (!window.listenerAdded) {
  document.addEventListener("turbo:load", handleTurboLoad);
  window.listenerAdded = true; // Set the flag to true to avoid re-adding the listener
}
</script>
