<h1><%= @auction ? "Auction" : "Raffle" %> Items</h1>
<p>
  <%= link_to "Participants", users_path,
      { class: "btn btn-default bg-secondary-subtle" } %>
  <%= link_to @auction ? "Raffle Items" : "Auction Items",
      items_path(auction: @auction ? "0" : "1"),
      { class: "btn btn-default bg-secondary-subtle" } %>
  <% if admin_signed_in? %>
    <%= link_to "New Item", new_item_path,
        { class: "btn btn-default bg-danger-subtle" } %>
  <% end %>
</p>

<% @items.each do |item| %>
  <hr>
  <div class="panel panel-default p-1 mt-4">
    <div class="row align-items-center">
      <% if admin_signed_in? || !@auction %>
        <div class="col-lg-2 col-sm-3">
          <%= link_to(@auction ? "Bid" : "Enter Tickets", item_path(item),
                      { class: "btn btn-default btn-lg bg-info-subtle" }) %>
        </div>
      <% end %>
      <div class="col-2">
        <% if item.image_url %>
          <%= link_to(image_tag(item.image_url, width: "100%"), item_path(item)) %>
        <% end %>
      </div>
      <div class="col">
        <%= item.title %>
      </div>
      <div class="col-3">
        <% if item.number %>
          <%= item.number %> items<br/>
          <%= item.bids.count %> entrant(s)<br/>
        <% end %>
        <% if item.cost %>
          <%= item.cost %> tickets each<br/>
        <% end %>
        <%= item.total %> total tickets
      </div>
    </div>
  </div>
<% end %>
