<%= render "tabs", tab: @type %>

<h1><%= @type.capitalize %> Items</h1>
<% if admin_signed_in? %>
  <p>
    <%= link_to "New Item", new_item_path,
        { class: "btn btn-default bg-danger-subtle" } %>
    <%= link_to "Upload CSV", new_items_csv_path,
        { class: "btn btn-default bg-danger-subtle" } %>
  </p>
<% end %>

<% if @type == 'raffle' %>
  <%= render "filter", item: @item %>
<% end %>

<% if @items&.present? %>
  <% @items.each do |item| %>
    <hr>
    <div class="panel panel-default p-1">
      <div class="row align-items-center">
        <div class="col-sm-3 col-lg-2 mt-2 mb-2">
          <% if item.image_url %>
            <%= link_to(image_tag(item.image_url, width: "100%"), item_path(item)) %>
          <% end %>
        </div>
        <div class="col">
          <span class="fs-4"><%= item.title %></span>
          <% if item.host.present? %>
            <br/>Host: <%= item.host %>
          <% end %>
          <% if item.timing %>
            <br/>Timing: <%= item.timing %>
          <% end %>
        </div>
        <div class="col-4">
          <% # Determine if this is a limited item (has number) or unlimited (has cost) %>
          <% is_limited_item = item.number.present? %>
          <% is_unlimited_item = item.cost.present? %>

          <% # Show button/message based on item type and bidding status %>
          <% if is_unlimited_item %>
            <%# Unlimited items are always biddable %>
            <%= link_to("Enter Hearts", item_path(item),
                        { class: "mb-2 btn btn-default btn-lg bg-info-subtle" }) %><br/>
          <% elsif is_limited_item %>
            <% if @type == 'Auction' %>
              <%# Auction items always show Details button %>
              <%= link_to("Details", item_path(item),
                          { class: "mb-2 btn btn-default btn-lg bg-info-subtle" }) %><br/>
            <% elsif admin_signed_in? %>
              <%# Admins can always bid on raffle items %>
              <%= link_to("Enter Hearts", item_path(item),
                          { class: "mb-2 btn btn-default btn-lg bg-info-subtle" }) %><br/>
            <% elsif limited_bidding_allowed? %>
              <%# Bidding is enabled for raffle items %>
              <%= link_to("Enter Hearts", item_path(item),
                          { class: "mb-2 btn btn-default btn-lg bg-info-subtle" }) %><br/>
            <% else %>
              <%# Bidding is disabled for raffle items - show Details button %>
              <%= link_to("Details", item_path(item),
                          { class: "mb-2 btn btn-default btn-lg bg-info-subtle" }) %><br/>
            <% end %>
          <% end %>

          <% if item.number %>
            <%= "#{item.number} #{'item'.pluralize(item.number)}" %><br/>
            <%= item.bids.count %> entrant(s)<br/>
          <% end %>
          <% if item.cost %>
            <%= "Unlimited Item" %><br/>
            <%= "#{item.cost} #{'heart'.pluralize(item.cost)} each" %><br/>
          <% end %>
          <%= item.total %> total hearts
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <p>No items found for these tags.</p>
<% end %>
