<h1><%= @auction ? "Auction" : "Raffle" %> Items</h1>
<% if admin_signed_in? %>
  <p>
    <%= link_to "New Item", new_item_path,
        { class: "btn btn-default bg-danger-subtle" } %>
  </p>
<% end %>

<% @items.each do |item| %>
  <hr>
  <div class="panel panel-default p-1">
    <div class="row align-items-center">
      <% if admin_signed_in? || !@auction %>
        <div class="col-lg-2 col-sm-3">
          <%= link_to(@auction ? "Bid" : "Enter Tickets", item_path(item),
                      { class: "btn btn-default btn-lg bg-info-subtle" }) %>
        </div>
      <% end %>
      <div class="col-sm-3 col-lg-2 mt-2 mb-2">
        <% if item.image_url %>
          <%= link_to(image_tag(item.image_url, width: "100%"), item_path(item)) %>
        <% end %>
      </div>
      <div class="col">
        <span class="fs-4"><%= item.title %></span>
        <% if item.host.present? %>
          <br/>Host: <%= item.host %>
        <% end %>
        <% if item.format.present? %>
          <br/>Format: <%= item.format %>
        <% end %>
        <% if item.event_date %>
          <br/>Date: <%= item.event_date.strftime("%B %e") %>
        <% end %>
      </div>
      <div class="col-4">
        <% if item.number %>
          <%= item.number %> items<br/>
          <%= item.bids.count %> entrant(s)<br/>
        <% end %>
        <% if item.cost %>
          <%= item.cost %> tickets each<br/>
        <% end %>
        <%= item.total %> total tickets
      </div>
    </div>
  </div>
<% end %>
