<div class="row align-items-center mt-4">
  <% if @item.image_url.present? %>
    <div class="col-5">
      <%= image_tag(@item.image_url, width: "100%") %>
    </div>
  <% end %>
  <div class="col">
    <p class="fs-3"><%= @item.title %></p>
    <p class="fs-4"><%= format_with_breaks(@item.description) %></p>
    <% if @item.host.present? %>
      <p class="fs-5">Host: <%= @item.host %></p>
    <% end %>
    <% if @item.format.present? %>
      <p class="fs-5">Format: <%= @item.format %></p>
    <% end %>
    <% if @item.event_date %>
      <p class="fs-5">Date: <%= @item.event_date.strftime("%B %e") %></p>
    <% end %>
    <p>
      <% if @item.number %>
        Quantity: <%= @item.number %>
      <% else %>
         <%= @item.cost %> Tickets Each
      <% end %>
    </p>
    <p>
      <% if @item.auction %>
        Auction Item
      <% else %>
        Raffle Item
      <% end %>
    </p>
  </div>
</div>

<div class="container p-2">
  <%= link_to "All Items", items_path,
      class: "btn btn-default bg-secondary-subtle" %>
  <% if admin_signed_in? %>
    <%= link_to "Edit Item", edit_item_path(@item),
        { class: "btn btn-default bg-danger-subtle" } %>
  <% end %>
</div>

<% if @item.auction %>
  <% if admin_signed_in? %>
    <%= form_with model: [ @item, @item.bids.build ] do |form| %>
      <div class="row align-items-center">
        <div class="col-sm m-2">
          <%= form.label :code, "Winner Code" %> <%= form.text_field :code, size: 6 %>
        </div>
        <% if @item.cost %>
          <div class="col-sm m-2">
            <%= form.label :amount, "How Many" %> <%= form.text_field :amount, size: 4 %>
          </div>
        <% else %>
          <div class="col-sm m-2">
            <%= form.label :amount, "Total Tickets" %> <%= form.text_field :amount, size: 4 %>
          </div>
        <% end %>
        <div class="col-sm m-2">
          <%= form.submit %>
        </div>
      <% end %>
    </div>

    <h3>Bids</h3>
    <% @item.bids.each do |bid| %>
      <% if bid.user %>
        <hr>
        <%= link_to("#{bid.user.name}: #{bid.user.code}", user_path(bid.user),
                    { class: "btn btn-default btn-lg bg-info-subtle" }) %>
        Tickets: <%= bid.amount %>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <%= form_with model: [ @item, @item.bids.build ] do |form| %>
    <div class="row align-items-center m-2">
      <div class="col-sm m-2">
        <%= form.label :code, "Your Code" %> <%= form.text_field :code, size: 6 %>
      </div>
      <% if @item.cost %>
        <div class="col-sm m-2">
          <%= form.check_box :join %>
	  <%= form.label :join, "Get One" %>
        </div>
      <% else %>
        <div class="col-sm m-2">
          <%= form.label :amount, "Total Tickets" %> <%= form.text_field :amount, size: 4 %>
        </div>
      <% end %>
      <div class="col-sm m-2"><%= form.submit %></div>
    </div>
  <% end %>

  <h3>Ticket Entries</h3>
  <% @item.bids.includes(:user).order("users.name").each do |bid| %>
    <% if bid.user %>
      <hr>
      <%= link_to(bid.user.name, user_path(bid.user),
                  { class: "btn btn-default btn-lg bg-info-subtle" }) %>
      Tickets: <%= bid.amount %>
      <% if @item.cost %>
        (<%= bid.amount / @item.cost %> count)
      <% end %>
    <% end %>
  <% end %>
<% end %>
