<%= render "tabs", tab: @item.item_type %>

<div class="row align-items-center mt-4">
  <% if @item.image_url.present? %>
    <div class="col-5">
      <%= image_tag(@item.image_url, width: "100%") %>
    </div>
  <% end %>
  <div class="col">
    <p class="fs-3"><%= @item.title %></p>
    <% if @item.host.present? %>
      <p class="fs-5">Host: <%= @item.host %></p>
    <% end %>
    <% if @item.timing %>
      <p class="fs-5">Timing: <%= @item.timing %></p>
    <% end %>
    <p><%= format_with_breaks(@item.description) %></p>
    <p>
      <% if @item.number %>
        Quantity: <%= @item.number %>
      <% else %>
         <%= @item.cost %> Heart Each
      <% end %>
    </p>
    <% if @item.tags.present? %>
      <p>
        Tags:
        <%= @item.tags.map(&:name).join(", ") %>
      </p>
    <% end %>
  </div>
</div>


<% if admin_signed_in? %>
  <div class="container p-2">
    <%= link_to "Edit Item", edit_item_path(@item),
        { class: "btn btn-default bg-danger-subtle" } %>
  </div>
<% end %>

<% if @item.item_type == 'Auction' %>
  <% if admin_signed_in? %>
    <%= form_with model: [ @item, @item.bids.build ] do |form| %>
      <div class="row align-items-center">
        <div class="col-sm m-2">
          <%= form.label :code, "Winner Code" %> <%= form.text_field :code, size: 6 %>
        </div>
        <% if @item.cost %>
          <div class="col-sm m-2">
            <%= form.label :amount, "How Many" %> <%= form.number_field :amount, size: 4 %>
          </div>
        <% else %>
          <div class="col-sm m-2">
            <%= form.label :amount, "Total Hearts" %> <%= form.number_field :amount, size: 4 %>
          </div>
        <% end %>
        <div class="col-sm m-2">
          <%= form.submit %>
        </div>
      <% end %>
    </div>

    <h3>Bids</h3>
    <% @item.bids.each do |bid| %>
      <% if bid.user %>
        <hr>
        <%= link_to("#{bid.user.name}: #{bid.user.code}", user_path(bid.user),
                    { class: "btn btn-default btn-lg bg-info-subtle" }) %>
        Hearts: <%= bid.amount %>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <% if admin_signed_in? || limited_bidding_allowed? %>
    <%= form_with model: [ @item, @item.bids.build ] do |form| %>
      <div class="row align-items-center m-2">
        <div class="col-sm m-2">
          <%= form.label :code, "Your Code" %> <%= form.text_field :code, size: 6 %>
        </div>
        <% if @item.cost %>
          <div class="col-sm m-2">
            <%= form.check_box :join %>
	    <%= form.label :join, "Get One" %>
          </div>
        <% else %>
          <div class="col-sm m-2">
            <%= form.label :amount, "Total Hearts" %> <%= form.number_field :amount %>
          </div>
        <% end %>
        <div class="col-sm m-2"><%= form.submit %></div>
      </div>
    <% end %>

    <h3>Bids</h3>
    <% @item.bids.includes(:user).order("users.name").each do |bid| %>
      <% if bid.user %>
        <hr>
        <%= link_to(bid.user.name, user_path(bid.user),
                    { class: "btn btn-default btn-lg bg-info-subtle" }) %>
        Hearts: <%= bid.amount %>
        <% if @item.cost %>
          (<%= bid.amount / @item.cost %> count)
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <div class="alert alert-info mt-4">
      <h4>Bidding on Limited Items is Currently Disabled</h4>
      <% next_enable_time = SiteSetting.next_limited_bidding_enable_time %>
      <% if next_enable_time.present? %>
        <p class="mb-0">
          Bidding will start: <strong><%= next_enable_time.in_time_zone('Eastern Time (US & Canada)').strftime("%B %d, %Y at %I:%M %p %Z") %></strong>
        </p>
      <% end %>
    </div>
  <% end %>
<% end %>
