<div class="row align-items-center mt-4">
  <% if @item.image_url %>
    <div class="col-5">
      <%= image_tag(@item.image_url, width: "100%") %>
    </div>
  <% end %>
  <div class="col">
    <p class="fs-3"><%= @item.description %></p>
    <p>
      <% if @item.number %>
        Quantity: <%= @item.number %>
      <% else %>
         Buy in for <%= @item.cost %> SBB
      <% end %>
    </p>
  </div>
</div>

<div class="container p-2">
  <%= link_to "Edit Item", edit_item_path(@item),
      { class: "btn btn-default bg-secondary-subtle" } %>
  <%= link_to "Destroy", item_path(@item),
      class: "btn btn-default bg-danger-subtle m-3" ,
      data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
      } %>
  <%= link_to "All Items", items_path,
      class: "btn btn-default bg-secondary-subtle" %>
</div>

<div class="container p-2 mb-2">
<%= form_with model: [ @item, @item.bids.build ] do |form| %>
  <span class="m-3"><%= form.submit %></span>
  <span class="m-3"> <%= form.label :code, "Your Code" %> <%= form.text_field :code %> </span>
  <span class="m-3"> <%= form.label :amount %> <%= form.text_field :amount %> </span>
<% end %>
</div>

<h3>Bids</h3>
<ul>
  <% @item.bids.each do |bid| %>
    <% if bid.user %>
      <li>
        <strong>Who:</strong>
        <%= link_to bid.user.name, user_path(bid.user.id) %>,
        <strong>Amount:</strong>
        <%= bid.amount %>
      </li>
    <% end %>
  <% end %>
</ul>
