<div class="row align-items-center mt-4">
  <% if @item.image_url %>
    <div class="col-5">
      <%= image_tag(@item.image_url, width: "100%") %>
    </div>
  <% end %>
  <div class="col">
    <p class="fs-3"><%= @item.title %></p>
    <p class="fs-3"><%= @item.description %></p>
    <p>
      <% if @item.number %>
        Quantity: <%= @item.number %>
      <% else %>
         Buy in for <%= @item.cost %> Tickets
      <% end %>
    </p>
    <p>
      <% if @item.auction %>
        Auction Item
      <% else %>
        Raffle Item
      <% end %>
    </p>
  </div>
</div>

<div class="container p-2">
  <%= link_to "All Items", items_path,
      class: "btn btn-default bg-secondary-subtle" %>
  <% if admin_signed_in? %>
    <%= link_to "Edit Item", edit_item_path(@item),
        { class: "btn btn-default bg-secondary-subtle" } %>
  <% end %>
</div>

<% if @item.auction %>
  <% if admin_signed_in? %>
    <div class="container p-2 mb-2">
      <%= form_with model: [ @item, @item.bids.build ] do |form| %>
        <span class="m-2"> <%= form.label :code, "Winner Code" %> <%= form.text_field :code, size: 6 %> </span>
        <span class="m-2"> <%= form.label :amount %> <%= form.text_field :amount, size: 4 %> </span>
        <span class="m-2"><%= form.submit %></span>
      <% end %>
    </div>

    <h3>Bids</h3>
    <% @item.bids.each do |bid| %>
      <% if bid.user %>
        <hr>
        <%= link_to("#{bid.user.name}: #{bid.user.code}", user_path(bid.user),
                    { class: "btn btn-default btn-lg bg-info-subtle" }) %>
        Tickets: <%= bid.amount %>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <div class="container p-2 mb-2">
    <%= form_with model: [ @item, @item.bids.build ] do |form| %>
      <span class="m-2"> <%= form.label :code, "Your Code" %> <%= form.text_field :code, size: 6 %> </span>
      <span class="m-2"> <%= form.label :amount %> <%= form.text_field :amount, size: 4 %> </span>
      <span class="m-2"><%= form.submit %></span>
    <% end %>
  </div>

  <h3>Ticket Entries</h3>
  <% @item.bids.each do |bid| %>
    <% if bid.user %>
      <hr>
      <%= link_to(bid.user.name, user_path(bid.user),
                  { class: "btn btn-default btn-lg bg-info-subtle" }) %>
      Tickets: <%= bid.amount %>
    <% end %>
  <% end %>
<% end %>
