<ul class="nav nav-tabs">
  <% inactive = { class: "nav-link" }
     active = { class: "nav-link active", 'aria-current': "page" } %>
  <li class="nav-item">
    <%= link_to "Home", root_path,
      tab == 'home' ? active : inactive %>
  </li>
  <li class="nav-item">
    <%= link_to "All Items", items_path,
      tab == 'all' ? active : inactive %>
  </li>
  <li class="nav-item">
    <%= link_to "Auction", items_path(type: 'Auction'),
      tab == 'Auction' ? active : inactive %>
  </li>
  <li class="nav-item">
    <%= link_to "Users", users_path,
      tab == 'user' ? active : inactive %>
  </li>
  <% if admin_signed_in? %>
    <li class="nav-item">
      <%= link_to "Tags", tags_path,
        tab == 'tags' ? active : inactive %>
    </li>
  <% end %>
</ul>
