<!DOCTYPE html>
<html>
  <head>
    <title>SanctuaryAuction</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <% flash.each do |type, msg| %>
      <div class="alert alert-info">
        <%= msg %>
      </div>
    <% end %>
    <div class="container">
      <%= yield %>
      <% if admin_signed_in? %>
        <p>
	  <hr>
          <%= link_to "Admin Logout", destroy_admin_session_path,
              class: "btn btn-default bg-danger-subtle m-3" ,
              data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure?"
              } %>
        </p>
      <% end %>
    </div>
  </body>
</html>
