<!DOCTYPE html>
<html>
  <head>
    <title>SanctuaryAuction</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <% flash.each do |type, msg| %>
      <div class="alert alert-<%= class_from_type(type) %>">
        <%= msg %>
      </div>
    <% end %>

    <div class="container">
      <div class="card border-light mb-3" style="height: 100px;">
        <div class="row g-0">
          <div class="col-5"><%= link_to(image_tag("/logo.png", height: 100), root_path) %></div>
          <div class="col-7">
            <div class="card-body">
              <span class="fs-2 card-title">Anti-Capitalist Community Auction!</span>
            </div>
          </div>
        </div>
      </div>

      <%= yield %>
      <hr>
      <p>
        <% if admin_signed_in? %>
          <%= link_to "Admin Logout", destroy_admin_session_path,
              class: "btn btn-default bg-danger-subtle m-3" ,
              data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure?"
              } %>
        <% end %>
      </p>
    </div>
  </body>
</html>
